@use 'sass:color';
@import '../../common';

.toggle {
  display: inline-flex;
  align-items: center;
  font-size: $text-medium;
  cursor: pointer;

  > .label-left,
  > .label-right {
    color: $color-gray-2;
    transition: $time;
  }

  > .label-left {
    order: -1;
  }

  > input {
    position: relative;
    width: 40px;
    height: 22px;
    margin: 0 12px;
    border-radius: 20px;
    background: color.scale($color-gray-2, $lightness: +25%);
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: $color-white;
      box-shadow: 0 1px 1px rgb(0 20 40 / 15%);
      transition: $time;
    }

    &:checked {
      background: $color-blue-2;

      &::after {
        transform: translateX(18px);
      }

      ~ .label-right {
        color: $color-blue-2;
      }
    }
  }
}
