@use 'sass:color';
@import '../common';

.Toastify__toast {
  display: block !important;
  min-height: auto !important;
  margin-bottom: 0 !important;
  padding: 17px 20px 17px 44px !important;
  font-family: inherit !important;
  font-size: $text-small !important;
  font-weight: 600 !important;
  border-radius: 5px !important;
  background-position: 16px 20px !important;
  background-size: 16px 16px !important;
  background-repeat: no-repeat !important;
  box-shadow: $global-shadow !important;

  + .Toastify__toast {
    margin-top: 20px !important;
  }

  > .Toastify__toast-body {
    padding: 0 !important;
  }

  > .Toastify__close-button {
    position: absolute;
    top: 6px;
    right: 7px;
    opacity: 1 !important;

    > svg {
      width: 10px;
    }
  }

  > .Toastify__progress-bar {
    left: 15px !important;
    bottom: 5px !important;
    width: calc(100% - 30px) !important;
    height: 2px !important;
    opacity: 1 !important;
  }

  $success-dark: $color-safe !important;
  $success-light: color.scale($color-safe, $lightness: +80%) !important;
  $error-dark: $color-danger !important;
  $error-light: color.scale($color-danger, $lightness: +80%) !important;

  &.Toastify__toast--success {
    color: $success-dark;
    background-color: $success-light;
    background-image: $svg-notification-success;

    > .Toastify__close-button {
      color: $success-dark;
    }

    > .Toastify__progress-bar {
      background: $success-dark;
    }
  }

  &.Toastify__toast--error {
    color: $error-dark;
    background-color: $error-light;
    background-image: $svg-notification-error;

    > .Toastify__close-button {
      color: $error-dark;
    }

    > .Toastify__progress-bar {
      background: $error-dark;
    }
  }
}

.Toastify__toast-container {
  width: 300px !important;
}

@media (max-width: $breakpoint-sm) {
  .Toastify__toast-container {
    width: 70vw !important;
    padding: 10px !important;
  }
}
